<div class="float-right no-select">
  <table class="control-table table-layout" cellpading="0">
    <tbody>
      <tr class="feature-toolbar-row">
        <td title="${nls.featureToolbar.cancel}">
          <div data-dojo-attach-point="cancelButton" role="button" tabindex="-1" class="bg-ft-img bg-cancel feature-toolbar-btn" 
          aria-label="${nls.featureToolbar.cancel}" data-dojo-attach-event="onclick:_cancel, onkeydown:_cancel"></div>
        </td>
        <td title="${nls.featureToolbar.save}">
          <div  data-dojo-attach-point="saveButton" role="button" tabindex="-1" class="float-right bg-ft-img bg-save feature-toolbar-btn"
          aria-label="${nls.featureToolbar.save}" data-dojo-attach-event="onclick:_save, onkeydown:_save"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>